argcomplete==2.0.0
Beaker==1.10.0
beautifulsoup4==4.11.1
blivet==3.5.0
blivet-gui==2.4.0
Brlapi==0.8.4
cffi==1.15.1
chardet==5.1.0
charset-normalizer==2.1.0
click==8.1.3
colorama==0.4.6
cryptography==37.0.2
cupshelpers==1.0
dasbus==1.6
dbus-python==1.3.2
distro==1.7.0
fedora-third-party==0.10
file-magic==0.4.0
fros==1.1
ghp-import==2.1.0
gpg==1.17.0
humanize==3.13.1
idna==3.3
Jinja2==3.1.2
langtable==0.0.61
libcomps==0.1.18
libvirt-python==8.6.0
lxml==4.9.1
Mako==1.1.4
Markdown==3.3.7
MarkupSafe==2.1.1
mergedeep==1.3.4
mkdocs==1.4.2
mkdocs-material==9.0.4
mkdocs-material-extensions==1.1.1
nftables==0.1
olefile==0.46
packaging==21.3
Paste==3.5.0
pexpect==4.8.0
pid==2.2.3
Pillow==9.2.0
ply==3.11
productmd==1.33
ptyprocess==0.6.0
pwquality==1.4.5
pycairo==1.21.0
pycparser==2.20
pycrypto==2.6.1
pycups==2.0.1
pycurl==7.45.1
pyenchant==3.2.2
Pygments==2.14.0
PyGObject==3.42.2
pykickstart==3.41
pymdown-extensions==9.9.1
pyOpenSSL==21.0.0
pypandoc==1.8.1
pyparsing==3.0.9
pyparted==3.12.0
PySocks==1.7.1
python-augeas==1.1.0
python-dateutil==2.8.2
python-Levenshtein==0.12.0
python-meh==0.50
pyudev==0.23.2
pyxdg==0.27
PyYAML==6.0
pyyaml_env_tag==0.1
regex==2022.10.31
requests==2.28.1
requests-file==1.5.1
requests-ftp==0.3.1
rpm==4.18.0
selinux==3.4
sepolicy==3.4
setools==4.4.0
simpleaudio==1.0.4
simpleline==1.9.0
six==1.16.0
sos==4.4
soupsieve==2.3.2.post1
systemd-python==235
Tempita==0.5.2
urllib3==1.26.12
watchdog==2.2.1
